form{
    display:flex;
    flex-direction: column;
}
input{
    height: 1.3rem;
    width: 5rem;
    margin:1rem;
}
button{
    height: 2rem;
    width: 10rem;
    margin-left: 10rem;
    margin-top: 1rem;
    color:white;
    background-color: black;
    border-radius: .8rem;
    border: none;
}
body{
    background-color: darkslategray;
}